<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Emanuel Alarcón</title>
</head>
<body>
  <h1>Emanuel Alarcón</h1>
  <h2>Backend Developer Ruby on Rails</h2>
  <h3>System Engineer</h3>
  <%= link_to 'Linkedin', 'https://www.linkedin.com/in/emanuel-alarcon' %>
  <%= link_to 'Github', 'https://github.com/EmanuelCadems' %>
</body>
</html>
